
.body-bg {
    background-color: #E6D29F;
    font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #343434;
  font-size: 20px;
}

.bg-custom {
    background-color: #FFF9EA;
    box-shadow: 0 10px 60px -3px #a5111f, 0 4px 60px -4px #a5111f;
}
.container {
    background-color: #FFF9EA;
    margin-bottom: 0px;
}

.dropdown-item, dropdown-menu {
    background-color: #E6D29F!important;
    color: #a5111f!important;
}
.navbar-custom {
    background: linear-gradient(90deg, hsla(43, 59%, 76%, 1) 0%, rgb(240, 213, 138) 42%, rgb(237, 147, 131) 69%, rgb(225, 110, 110) 100%);
    
}

.nav-link {
    color: #a5111f!important; 
}
.nav-link:hover {
    color: #b46a53!important;
}
.bg-image {
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        position: relative; 
} 
.hero-font {
    color: #e0b572;
    font-weight: normal;
    max-width: 100%; 
    font-size: 1px;
}
.hero-link {
    text-decoration: none;
}
.first {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: auto;
}
.second {
   display: flex;
    align-items: center;
    justify-content: center;
   margin-left: auto;
}

.m {
    font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}
.header-font {
    font-family: "Cinzel", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  padding-top: 30px;
}
img {
    max-height: 92%;
    max-width: 100%;
} 
.header-pic {
    display: flex;
    align-items: center;
    justify-content: center;
   margin-left: auto;
   padding: 0;
   
}
h2 {
    font-family: "Monsieur La Doulaise", cursive;
}
.sub-heading {
    font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color:#a5111f;
}

.newstext {
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color:#a5111f;
}
.form-label {
    color: #a5111f!important;
}

.form-check-label {
    color: #a5111f!important;
}
.button {
    background: transparent!important;
    border-color: #a5111f!important;
    color: #a5111f!important;
    border-radius: 4px; 
    display: flex;
        align-items: center;
        justify-content: center;
}

.button:hover {
    color: #b46a53!important;
    background-color: #FFF9EA!important;
}


.newsletter-img {
    background-size: cover;
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        position: relative;
        box-shadow: inset 0 0 0 1000px #e0b67280; 
    }





  

.newsletter {
    display: flex;

}

.footer-custom {
    margin-bottom: 0px;
    padding-bottom: 10;
    padding-top: 10px;
    text-align: center;
    background-color: #a5111f;
    color: #FFF9EA;
}
.footer-link {
    color: #E6D29F;
    padding: 5px;
    font-size: xx-large;
}
.footer-link:hover {
    color: #FFF9EA;
}
.credit-link {
    text-decoration: none;
    color: #e0b572;
    transition: all 0.3s;
}
.credit-link:hover {
    text-decoration: underline!important;
    color: blue!important;
    transform: scale(1.30)
}
.policy-link {
    color: rgb(10, 10, 68)!important;
    text-decoration: none!important;
}
.policy-link:hover {
    text-decoration: underline!important;
    color: blue!important;
}

.socials-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

@media (max-width: 900px) {
    
    .header-pic {
        display: none;
    }
    .form {
        width: 80%;
        height: 400px;
    }
    .newstext {
        font-size: 5;
        padding: 0;
    }
}


