:root {
    --primary-color: #780909;
    --secondary-color: #FFF9EA;
    --accent-color: #E6D29F;
    

}

.body-bg {
    background-color: var(--accent-color);
    font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #343434;
  font-size: 20px;
}

.bg-custom {
    background-color: var(--secondary-color);
    box-shadow: 0 10px 60px -3px #780909, 0 4px 60px -4px #780909;
}


.dropdown-item, dropdown-menu {
    background-color: var(--accent-color)!important;
    color: var(--primary-color)!important;
}
.navbar-custom {
    background: linear-gradient(90deg, hsla(43, 59%, 76%, 1) 0%, rgb(240, 213, 138) 42%, rgb(237, 147, 131) 69%, rgb(225, 110, 110) 100%);
    
}

.nav-link {
    color: var(--primary-color)!important; 
}
.nav-link:hover {
    color: #b46a53!important;
}
.bg-image {
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        position: relative;
        color: var(--accent-color);
        text-shadow: 2px 2px 2px #780909;
} 
h1 {
    font-size: 4rem;
}
.hero-link {
    text-decoration: none;
    color: var(--accent-color);
}
.first {
    display: flex;
    align-items: left;
    justify-content: left;
    
}
.second {
   display: flex;
    align-items: center;
    justify-content: center;
   
}

.m {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: bold;
    font-size: 40px;
}
.header-font {
    font-family: "Cinzel", serif;
    font-weight: 300;
    font-size: 25px;
    padding-top: 17px;
}
.header-pic {
    max-height: 40vh;
   /* max-width: 100%; */
} 

h2 {
    font-family: "Monsieur La Doulaise", cursive;
}
.sub-heading {
    font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: var(--primary-color);
}
.newstext {
    font-style: normal;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}
.col-form-label {
    color: var(--primary-color)!important;
    font-weight: bold;
}

.form-check-label {
    color: var(--primary-color)!important;
    font-weight: bold;
}
.button {
    border-color: var(--primary-color)!important;
    color: var(--secondary-color)!important;
    background-color:  var(--primary-color)!important;
    border-width: 2px!important; 
    display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
}

.button:hover {
    color: #b46a53!important;
    background-color: var(--secondary-color)!important;
}


.newsletter-bg {
    background-size: cover;
    background-attachment: static;
    color: var(--primary-color);
    text-shadow: 2px 2px 2px #78090931; 
        position: relative;
    }

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #78090931;
    }





  

.newsletter {
    display: flex;

}

.footer-custom {
    margin-bottom: 0px;
    padding-bottom: 10;
    padding-top: 10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.footer-link {
    color: var(--accent-color);
    padding: 5px;
    font-size: xx-large;
}
.footer-link:hover {
    color: var(--secondary-color);
}
.credit-link {
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s;
}
.credit-link:hover {
    text-decoration: underline!important;
    color: blue!important;
    transform: scale(1.30)
}
.policy-link {
    color: blue!important;
    text-decoration: none!important;
}
.policy-link:hover {
    text-decoration: underline!important;
    color: rgb(10, 10, 68)!important;
}

.socials-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

@media (max-width: 768px) {
    
    .bg-image {
        min-height: 10vh;}
    
    
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    
    } 

